<!DOCTYPE html>
{% load static %}
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" descr>
    <meta name="description" content="A Training centre based in the city of Port Harcourt, Nigeria where people learn how to code, learn Data Analysis and Data Science." />


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Equest | Training in Coding/Programming, Data Analysis, Data Science</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href=" {% static 'assets/img/gallery/logo.ico' %} ">
    <link rel="icon" type="image/png" sizes="32x32" href=" {% static 'assets/img/gallery/logo.ico' %} ">
    <link rel="icon" type="image/png" sizes="16x16" href=" {% static 'assets/img/gallery/logo.ico' %} ">
    <link rel="shortcut icon" type="image/x-icon" href=" {% static 'assets/img/gallery/logo.ico' %} ">
    <link rel="manifest" href=" {% static 'assets/img/favicons/manifest.json' %} ">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">



    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href=" {% static 'assets/css/theme.css' %} " rel="stylesheet" />

  </head>
